<div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
        Add
    </button>
</div>

<div class="heroes">
    <ul>
        <li (click)="onSelect(hero)"
            *ngFor="let hero of heroes"
            [class.selected]="hero === selected">
            <span class="badge">{{hero.id}}</span>
            <span>{{hero.name}}</span>
            <button class="delete"
                    (click)="delete(hero); $event.stopPropagation()">x</button>
        </li>
    </ul>
</div>

<div *ngIf="selected != null">
    <h2>
        {{selected.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
