<div *ngIf="hero != null">
    <h2>{{hero.name}}</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="hero.name" placeholder="name">
        <button (click)="save()">Save</button>
    </div>
    <button (click)="goBack()">Back</button>
</div>