<!--<h1>My First AngularDart App</h1>-->
<!--<todo-list></todo-list>-->

<h1>{{title}}</h1>
<nav>
    <a [routerLink]="RoutePaths.dashboard.toUrl()"
       [routerLinkActive]="'active'">Dashboard</a>

    <a [routerLink]="RoutePaths.heroes.toUrl()"
       [routerLinkActive]="'active'">Heroes</a>
</nav>
<router-outlet [routes]="Routes.all"></router-outlet>
