<!-- Components info: https://webdev.dartlang.org/components -->
<div>
    <material-input (keyup.enter)="add()"
                    [(ngModel)]="newTodo" autoFocus floatingLabel
                    label="What do you need to do?"
                    style="width:80%">
    </material-input>

    <material-fab (trigger)="add()" [disabled]="newTodo.isEmpty"
                  mini
                  raised>
        <material-icon icon="add"></material-icon>
    </material-fab>
</div>

<p *ngIf="items.isEmpty">
    Nothing to do! Add items above.
</p>

<div *ngIf="items.isNotEmpty">
    <ul>
        <li *ngFor="let item of items; let i=index">
            <material-checkbox #done materialTooltip="Mark item as done">
            </material-checkbox>
            <span [class.done]="done.checked">{{item}}</span>
            <material-fab (trigger)="remove(i)" mini>
                <material-icon icon="delete"></material-icon>
            </material-fab>
        </li>
    </ul>
</div>
